<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "../css/home_page.css">
    <title>Home</title>
</head>
<body>
    <div class="home_page_container">
        <div class="main_bar">
            <div class="logo">
                <div class="logo_pic">
                    <img src="../img/logo_book.svg" alt="logo_book">
                </div>
                <div class="logo_text">
                    <img src="../img/logo_text.svg" alt="logo_text">
                </div>
            </div>
        </div>
        <div class="search_bar">

        </div>
        <div class="home_page_pic_1">
            <img class=".."
        </div>
        <div class="home_page_pic_2">

        </div>
    </div>
</body>
</html>